Ques. 1. Write a program to reverse a string.

In [ ]:
# Define function that takes an input_string as it's parameter.
def reverse_string(input_string):

# Initialize an empty string called reversed_string to store the reversed characters.
  reversed_string = " "

# Start loop that iterates through each character in the input_string
  for char in input_string:

    # Concatenate the current character with the existing reversed_string.
    # This effectively adds the current character to the beginning of the reversed string.
    reversed_string = char + reversed_string

# After the loop is done, return the reversed_string as the output of the function.
  return reversed_string

#Driver Code
input_string = "Hello"
output_string = reverse_string(input_string)
print(output_string)

olleH

In [ ]:
def reverse_string(input_string):
  return input_string[::-1]
input_string = "Hello"
reversed_string = reverse_string(input_string)
print(reversed_string)

olleH

2. Check if a string is a palindrome.

In [ ]:
def palindrome(s):
  s = s.lower()
  s = ''.join(e for e in s if e.isalnum())
  return s == s[::-1]

s = input("Enter the input : ")
output = palindrome(s)
print(output)

Enter the input : boy
False


3. Convert a string to uppercase.

In [ ]:
# Get input from the user
input_string = input("enter a string : ")

# Convert the string to uppercase
uppercase_string = input_string.upper()

# Print the uppercase string
print("uppercase string", uppercase_string)

enter a string : abhi
uppercase string ABHI

4. Convert a string to lowercase.

In [ ]:
#  Get input from the user
input_string = input("enter a string : ")

# Convert the string to lowercase using the lower() method
lowercase_string = input_string.lower()

# Print the lowercase string
print("lowercase string", lowercase_string)

enter a string : ABHIU
lowercase string abhiu

5. Count the number of vowels in a string.

In [ ]:
def count_vowels(string):

  # Initialize a variable to keep track of the vowel count
  vowel_count = 0

 # Convert the input string to lowercase to handle both upper and lowercase vowels
  string = string.lower()

# Define a set of vowels
  vowels = set("a,e,i,o,u")

  # Iterate through each character in the string
  for char in string:

    # Check if the character is a vowel
    if char in vowels:

       # Increment the vowel count if the character is a vowel
      vowel_count += 1

      # Return the final vowel count
  return vowel_count

#Driver Code
input_string = "ABhi sinha"
result = count_vowels(input_string)
print("Number of vowels :", result)

Number of vowels : 4

6. Count the number of consonants in a string

In [ ]:
def count_cons(string):

  # Initialize a variable to keep track of the count of consonants
  cons_count = 0

  # Define a set of consonant characters
  string = string.lower()

# Iterate through each character in the input string
  for char in string:
    # Check if the character is in the set of consonants
    if char.isalpha() and char not in "aeiou":
      # Increment the consonant count
      cons_count += 1
      # Return the final count of consonants
  return cons_count

# Driver Code
input_string = input("enter a string : ")
result = count_cons(input_string)
print("Num of cons. : ", result)

enter a string : abhisinha
Num of cons. :  5

7. Remove all whitespaces from a string.

In [ ]:
def remove_whitespace(input_string):
  # Initialize an empty string to store the result.
  result = " "

# Check if the character is a whitespace.
  for char in input_string:
    if char != " ":

      # If the character is not a whitespace, append it to the result string.
      result += char

 # Return the result string with all whitespaces removed.
  return result

#Driver Code
input_string = input(str("Enter the input string"))
output_string = remove_whitespace(input_string)
print(output_string)

Enter the input string Hello      World
 HelloWorld

8. Find the length of a string without using the len() function.

In [ ]:
def length(string):
  #Initialize a variable to keep track of the count
  count = 0

# Iterate through each character in the string
  for char in input_string:

   # Increment the count variable by 1 for each character
    count += 1

    # Return the result string.
  return count

# Driver Code
input_string =input(str("enter the string : "))
length_count = length(input_string)
print(length_count)

enter the string : abhi
4

9. Check if a string contains a specific word.

In [ ]:
# Input the string and the specific word
input_string = input("Enter a string : ")
specific_word = input("Enter the specific word to check for : ")

# Check if the specific word is present in the string using the 'in' keyword
if specific_word in input_string:
  print(f"The string contains word '{specific_word}'.")
else:
  print(f"The string does not contain the word '{specific_word}'.")

Enter a string : My name is Abhi sinha
Enter the specific word to check for : sinha
The string contains word 'sinha'.

10. Replace a word in a string with another word.

In [ ]:
# Take input from the user
input_string = input("Enter a sentence : ")

# Accept the old word & new word
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

#Replace the old word with the new word using string space
modified_string = input_string.replace(old_word, new_word)
# using print function to print the output
print("Modified String: ", modified_string)

Enter a sentence : Abhisinha
Enter the word to be replaced: sinha
Enter the new word: kumar
Modified String:  Abhikumar

11. Count the occurrences of a word in a string.

In [ ]:
def count_word_occurrences(input_string, target_word):

  #Initialize a variable to keep track of the word count
  word_count = 0

  # Split the input string into a list of words
  words = input_string.split()

# Iterate through each word in the list
  for word in words:

    # Check if the current word matches the target word
    if word == target_word:

      # Increment the word count if the words match
      word_count += 1
  return word_count

#Driver code
input_string = input(str("Enter the sentence: "))
target_word = input(str("Enter the target word : "))
result = count_word_occurrences(input_string, target_word)
print(result)

Enter the sentence: this is my pen
Enter the target word : pen
1

12. Find the first occurrence of a word in a string.

In [ ]:
# Find the index of the first occurrence of the word in the text.
def find_first_occurrence(text, word):
  index = text.find(word)

  #Check if the index is -1, indicating that the word was not found.
  if index == -1:
    return None  # Return None if the word is not found.
  return index # Return the index of the first occurrence of the word.

# Driver code
text = "This is an example sentence. This sentence contains"
word = "example"
result = find_first_occurrence(text, word)
print("Index of the 1st occurance : ", result)

Index of the 1st occurance :  11

13. Find the last occurrence of a word in a string.

In [ ]:
#Find the index of the last occurrence of the word in the text.
def find_last_occurrence(text, word):
  index = text.rfind(word)

 #Check if the index is -1, indicating that the word was not found.
  if index == -1:
    return None  # Return None if the word is not found
  return index  # Return the index of the last occurrence of the word.

#Driver Code
text = "This is an example sentence. This sentence contains"
word = "This"
result = find_last_occurrence(text, word)
print("Index of the last occurance : ", result)

Index of the last occurance :  29

14. Split a string into a list of words.

In [ ]:
def split_string_into_words(text):

  #Use the split() method to split the text into a list of words.
  word_list = text.split()
  return word_list

# Driver Code
text = "This is an example sentence."
words = split_string_into_words(text)
print("List of words : ", words)

List of words :  ['This', 'is', 'an', 'example', 'sentence.']

15. Join a list of words into a string.

In [ ]:
def join_word_into_string(word_list):
    #Use the join() method to join the words in the list into a single string.
  joined_string = ' '.join(word_list)
  return joined_string

# Driver Code
words = ["This", "is", "an", "input"]
text = join_word_into_string(words)
print(text)

This is an input

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def convert_to_underscore_separated(text):
    # Step 1: Use the replace() method to replace spaces with underscores.
    underscore_separated = text.replace(" ", "_")

    # Step 2: Return the converted string.
    return underscore_separated

#  Driver Code
text = input(str("Enter the input"))
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Enter the inputabhi Sinha
Converted text: abhi_Sinha

17. Check if a string starts with a specific word or phrase.

In [ ]:
def starts_with(text, prefix):

  # Use the startswith() method to check if the text starts with the specified prefix.
  is_start = text.startswith(prefix)
  return is_start

# Driver Code
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
  print("The text starts with the prefix.")
else:
  print("The doesnot start with the prefix.")

The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [ ]:
def ends_with(text, suffix):
   # Use the endswith() method to check if the text ends with the specified suffix.
  is_end = text.endswith(suffix)
  return is_end
# Driver code
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
  print("The text ends with the suffix.")
else:
  print("The text doesnot end with the suffix")

The text ends with the suffix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").
[ ]

In [ ]:
def convert_to_string(text):

  #  Use the title() method to convert the text to title case.
  title_case = text.title()
  return title_case #Return the converted text.

#Driver code
text = "hello world"
result = convert_to_string(text)
print("Title case :", result)

Title case : Hello World

20. Find the longest word in a string.

In [ ]:
def longest_word(text):
  # Use the split() method to split the text into a list of words.
  words = text.split()

  # Initialize variables to keep track of the longest word and its length.
  longest_word = ""
  max_length = 0

#Iterate through the list of words.
  for word in words:
    # Check if the length of the current word is greater than the current max_length.
    if len(word) > max_length:
      max_length = len(word)
      longest_word = word
  return longest_word

#Driver Code
text = input(str("Enter the input :"))
result = longest_word(text)
print(result)

Enter the inputAbhisinha, is my name
Abhisinha,

21. Find the shortest word in a string.

In [ ]:
def shortest_word(text)

 # Step 1: Use the split() method to split the text into a list of words.
  words = text.split()

#Initialize variables to keep track of the shortest word and its length.
  shortest_word = None
  min_length = float('inf')

#Iterate through the list of words.
  for word in words:

    # Check if the length of the current word is smaller than the current min_length.
    if len(word) < min_length:
      min_length = len(word)
      shortest_word = word
  return shortest_word

#Driver code
text = input(str("Enter the input :"))
result = shortest_word(text)
print("Shortage Word: ",result)

Enter the input :THis is my pen
Shortage Word:  is

22. Reverse the order of words in a string.

In [ ]:
def reverse_order(text):

# Use the split() method to split the text into a list of words.
  text = text.split()

  reversed_word = text[::-1]
  reversed_string = ' '.join(reversed_word)
  return reversed_string

#Driver code
text = input(str("Enter the input : "))
result = reverse_order(text)
print("REverse Order : ", result)

Enter the input : this is my pen
REverse Order :  pen my is this

23. Check if a string is alphanumeric.

In [ ]:
def alphanumeric(text):

  # Use the isalnum() method to check if the string is alphanumeric.
  return text.isalnum()

#Driver code
text = "Hello123"
result = alphanumeric(text)
if result:
  print("The string is alphanumeric")
else:
  print("The string is not alphanumeric")

The string is alphanumeric

24. Extract all digits from a string.

In [ ]:
def extract_digits(text):

   #  Initialize an empty string to store the extracted digits.
  digits = " "

# Check if the character is a digit using the isdigit() method.
  for char in text:
    if char.isdigit():
      # Append the digit to the digits string.
      digits += char
  return digits

#Driver code
text = "Hello123World992"
result = extract_digits(text)
print(result)

 123992

25. Extract all alphabets from a string.

In [ ]:
def extract_alpha(text):
  alpha = " "

  for char in text:
    if char.isalpha():
      alpha += char
  return alpha

#Driver code
text = input(str("enter the input :"))
result = extract_alpha(text)
print(result)

enter the input :Abhi123
 Abhi

26. Count the number of uppercase letters in a string.
[ ]

In [ ]:
def count_uppercase(input_string):
  uppercase_count = sum(1 for char in input_string if char.isupper())
  return uppercase_count

#Driver code
input_string = "HelloWorLd"
result = count_uppercase(input_string)
print(result)

3

27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase(input_string):
  lowercase_count = sum(1 for char in input_string if char.islower())
  return lowercase_count
#Driver code
input_string = "HelloWorld"
result = count_lowercase(input_string)
print(result)

8

28. Swap the case of each character in a string.

In [ ]:
def swap_case(input_string):
  swapped_string = input_string.swapcase()
  return swapped_string

#Driver code
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

29. Remove a specific word from a string.

In [ ]:
def remove_word(input_string, word_remove):
  modified_string = input_string.replace(word_remove)
  filtered_word =

30. Check if a string is a valid email address.

In [ ]:
import re

def is_valid_email(email):
  pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
  if re.match(pattern, email):
    return True
  else:
    return False

#Driver code
email1 = "abh@email.com"
email2 = "Invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)

In [ ]:
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
  username = email.split('@')[0]
  return username

#Driver code
email = "example@email.com"
result = extract_username(email)
print(result)

example

32. Extract the domain name from an email address string.

In [ ]:
def extract_domain(email):
  domain = email.split('@')[1] # Split the email address at "@" and take the second part

  return domain

#Driver code
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.
[ ]

In [ ]:
def replace_space(input_string):
  cleaned_string = ' '.join(input_string.split())
  return cleaned_string

#Driver code
input_string = input(str("Enter the string : "))
result = replace_space(input_string)
print(result)

Enter the string : Hello         World      !!!!
Hello World !!!!

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
  try:
    result = urlparse(url)
    return all([result.scheme, result.netloc])  # Check0 if both scheme and netloc are present
  except ValueError:
    return False

#Driver code
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.
[ ]

In [ ]:
def extract_protocol(url):
  protocol_end = url.find("://")

  if protocol_end != -1:
    protocol = url[:protocol_end]
    return protocol
  else:
    return None

#Driver code
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [ ]:
def character_frequency(input_string):
  frequency = {}

  for  char in input_string:
    if char in frequency:
      frequency[char] += 1
    else:
      frequency[char] = 1
  return frequency

#Driver code
input_string = "Hello World"
char_freq = character_frequency(input_string)

# Print character frequencies
for char, freq in char_freq.items():
  print(f"Character : '{char}', Frequency: {freq}")

Character : 'H', Frequency: 1
Character : 'e', Frequency: 1
Character : 'l', Frequency: 3
Character : 'o', Frequency: 2
Character : ' ', Frequency: 1
Character : 'W', Frequency: 1
Character : 'r', Frequency: 1
Character : 'd', Frequency: 1

37. Remove all punctuation from a string.

In [ ]:
import string
result = string.punctuation
print(result)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
import string
def remove_punctuation(input_string):
  # Create a translation table to remove punctuation
  translator = str.maketrans("", "", string.punctuation)

  # Use the translation table to remove punctuation from the input string
  clean_string = input_string.translate(translator)
  return clean_string

#Driver code
input_string = "Hello, World! How're You??"
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello World Howre You

38. Check if a string contains only digits.

In [ ]:
def contains_digits(input_string):
  return input_string.isdigit()


#Driver code
string1 = "12345"
string2 = "Abhi123"

#Check if strings contain only digits
result1 = contains_digits(string1)
result2 = contains_digits(string2)


print(f" '{string1}' cotains only digits :", result1)
print(f" '{string2}' cotains only digits :", result2)

 '12345' cotains only digits : True
 'Abhi123' cotains only digits : False

39. Check if a string contains only alphabets.

In [ ]:
def contains_alphabets(input_string):
  return input_string.isalpha()

#Driver code
string1  = "Hello"
string2 = "Hello123"

# Check if strings contain only alphabets
result1 = contains_alphabets(string1)
result2 = contains_alphabets(string2)

# Print the results
print(f" '{string1}' cotains only alphabetes :", result1)
print(f" '{string2}' cotains only alphabetes:", result2)

 'Hello' cotains only alphabetes : True
 'Hello123' cotains only alphabetes: False

40. Convert a string to a list of characters

In [ ]:
def string_list(input_string):
  # Use list() constructor to convert the string to a list of characters
  char_list = list(input_string)
  return char_list

#Driver code
input_string = "Hello, world!"

# Convert the string to a list of characters
char_list = string_list(input_string)
print(input_string)
print(char_list)

Hello, world!
['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [ ]:
def check_anagrams(s1, s2):
   # Sort the characters in both strings and compare
  if(sorted(s1) == sorted(s2)):
    print("The strings are anagrams.")
  else:
    print("The strings are not anagrams.")

#Driver code
s1 = input(str("Enter the String : "))
s2 = input(str("Enter the String : "))
check_anagrams(s1, s2)

Enter the String : listen
Enter the String : silent
The strings are anagrams.

42. Encode a string using a Caesar cipher.

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

def most_frequent_word(input_string):
  clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
  words = clean_string.split()
  word_counter = Counter(words)

  most_common_word = word_counter.most_common(1)[0][0]
  return most_common_word

#Driver code
input_string = "Hello WOrld, how are you?, how is going on?"
most_common = most_frequent_word(input_string)
print(most_common)

how

45. Find all unique words in a string.

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

48. Remove the nth word from a string.

49. Insert a word at the nth position in a string.

50. Convert a CSV string to a list of lists.

List based practice problem :

1. Create a list with integers from 1 to 10.

In [ ]:
# Use a list comprehension to create a list of integers from 1 to 10
my_list = [i for i in range(1, 11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function.

In [ ]:
def len_list(lst):
  count = 0
  for i in lst:
    count += 1
  return count

#Driver code
my_list = [10, 20, 30, 40, 50]
length = custom_len(my_list)
print("Length of the list:", length)

NameError: name 'custom_len' is not defined

3. Append an element to the end of a list.

In [ ]:
lst = [10, 30, 50, 70]

# Element to append
new_num = 90

# Append the new element to the end of the list
lst.append(new_num)
print(lst)

[10, 30, 50, 70, 90]

4. Insert an element at a specific index in a list.

In [ ]:
lst = [10, 20, 30, 40]

# Element to insert
new_element = 50

# Index at which to insert the element
index_insert = 5

# Insert the new element at the specified index
lst.insert(index_insert, new_element)
print(lst)

[10, 20, 30, 40, 50]


5. Remove an element from a list by its value.

In [ ]:
lst = [10,20,30,40]

# Element to remove
element_remove = 40

# Remove the element by its value
lst.remove(element_remove)
print(lst)

[10, 20, 30]

6. Remove an element from a list by its index.

In [ ]:
lst = [10,20,30,40]

# Index of the element to remove
index_remove = 3

# Remove the element at the specified index
remove_element = lst.pop(index_remove)
print(remove_element)
lst

40

[10, 20, 30]

7. Check if an element exists in a list.

In [ ]:
lst = [10,20,30,40]

# Element to check
element_check = int(input("Enter the number"))

# Check if the element exists in the list
if element_check in lst:
  print(f"{element_check} elment exist in list")
else:
  print(f"{element_check} doesnot elment exist in list")

Enter the number5
5 doesnot elment exist in list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
lst = [10,20,30,40,50]

# Element to find the index of
element_find = 40

# Find the index of the first occurrence of the element
index = lst.index(element_find)

# Print the index
print(f"the index of {element_find} is {index}")

the index of 40 is 3

9. Count the occurrences of an element in a list.

In [ ]:
lst = [10,20,30,20,30,20,20,40,50]

# Element to count occurrences of
element_count = 20

# Count the occurrences of the element
count = lst.count(element_count)

# Print the count
print(f"The element{element_count} occurs {count} times in the list")

The element20 occurs 4 times in the list

10. Reverse the order of elements in a list.

In [ ]:
lst = [10,20,30,40,50]

# Reverse the order of elements in the list
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [ ]:
lst = [50, 10, 30, 40, 20]

# Sort the list in ascending order
lst.sort()

# Print the sorted list
print(lst)

[10, 20, 30, 40, 50]

12. Sort a list in descending order.

In [ ]:
lst = [50, 10, 30, 40, 20]

# Sort the list in descending order
lst.sort(reverse = True)

# Print the sorted list
print(lst)

[50, 40, 30, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [ ]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_num = [x for x in range(2,21,2)]

# Print the list of even numbers
print("List of even numbers : ", even_num)

List of even numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [ ]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_num = [x for x in range(1,21,2)]

# Print the list of odd numbers
print("List of even numbers : ", odd_num)

List of even numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
lst = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
sum = sum(lst)

# Print the sum
print(sum)

150

16. Find the maximum value in a list.

In [ ]:
lst = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_num = max(lst)

# Print the maximum value
print("Maximum value:", max_num)

Maximum value: 50

17. Find the minimum value in a list.

In [ ]:
lst = [10, 20, 30, 40, 50]

# Find the minimum value in the list
min_num = min(lst)

# Print the minimum value
print("Minimum value:", min_num)

Minimum value: 10

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squ_num = [x** 2 for x in range(1,11)]

# Print the list of squares
print("List of squares:", squ_num)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random

# Create a list of random integers between 1 and 100
random_num = [random.randint(1,100) for i in range(10)]

# Print the list of random integers
print("List of random integers:", random_num)

List of random integers: [6, 33, 2, 77, 39, 43, 29, 60, 76, 46]

20. Remove duplicates from a list.

In [ ]:
lst =  [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
duplicate_list = list(set(lst))

# Print the list without duplicates
print("List Without duplicate_list", duplicate_list)

duplicate_list [40, 10, 50, 20, 30]

21. Find the common elements between two lists.

In [ ]:
lst1 = [10, 20, 30, 20, 40, 10, 50, 30]
lst2 = [10,90,80,50,30]
common_lst = list(set(lst1) & set(lst2))
print(common_lst)

[10, 50, 30]

22. Find the difference between two lists.

In [ ]:
lst1 = [10, 20, 30, 40, 50]
lst2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(lst1).difference(lst2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

24. Multiply all elements in a list by 2.

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
mul_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list: ", mul_list)

Multiplied list:  [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [ ]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [num for num in original_list if num % 2 != 0]
print("Original list:", original_list)
print("Filtered list (without even numbers):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (without even numbers): [1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [ ]:
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [ ]:
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
integer_list = [int(x) for x in integer_list]

# Print the list of strings
print(integer_list)

[10, 20, 30, 40, 50]

28. Flatten a nested list.

In [ ]:
nested_list = [[1,2,3], [4,5], [6,7,8,9], ['abhi']]

# Function to flatten a nested list
def flatten_list(nested):
  flattened = []
  for sublist in nested:
    if isinstance(sublist, list):
      flattened.extend(flatten_list(sublist))
    else:
      flattened.append(sublist)
  return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'abhi']


29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
# Function to generate the first n Fibonacci numbers
def fibonacci(n):

  # Initialize the list with the first two Fibonacci numbers
  fibonacci_list = [0, 1]

  for i in range(2, 10):
    next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
    fibonacci_list.append(next_fibonacci)

  return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = fibonacci(2)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
# Function to check if a list is sorted in ascending order
def list_sorted(lst):
  for i   in range(1, len(lst)):
    if lst[i] < lst[i - 1]:
      return False
  return True

given_list = [10, 45, 47, 67, 87]

# Check if the list is sorted in ascending order
if list_sorted(given_list):
  print("The list is sorted in assending ordered ")
else :
  print("The list is not sorted in assending oredered")

The list is sorted in assending ordered

31. Rotate a list to the left by `n` positions

In [ ]:
# Function to rotate a list to the left by n positions
def rotate(lst, n):
  n = n % len(lst) # Normalize n to handle cases where n is larger than the list length
  rotated = lst[n:] + lst[:n]
  return rotated

lst = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2
# Rotate the list to the left by n positions
rotated_list = rotate(lst, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by n positions.

In [ ]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

33. Create a list of prime numbers up to 50.

In [ ]:
# Function to check if a number is prime
def prime_num(num):
  if num <= 1:
    return False
  elif n == 2:
    return True
  elif n % 2 == 0:
    return False
  else:
    for i in range(3, int(n**0.5) + 1, 2):
      if n % i == 0:
        return False

    return True

# Driver code
prime_num = [num for num in range(2, 51) if prime_num(num)]
print(prime_num)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

34. Split a list into chunks of size n.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

 35. Find the second largest number in a list.

In [ ]:
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
  second_largest = sorted_list[-2]
  print("second largest number", second_largest)

second largest number 25

36. Replace every element in a list with its square.

In [ ]:
my_list = [2,4,6,7,8,20]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Square List are : ", squared_list)

Square List are :  [4, 16, 36, 49, 64, 400]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
mydict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary : ", mydict)

Converted dictionary :  {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [ ]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffle list :", my_list)

Shuffle list : [7, 9, 3, 8, 4, 10, 5, 6, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [ ]:
# Function to calculate factorial
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n-1)

# Create a list of the first 10 factorial numbers
factorial_number = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print(factorial_number)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
# Function to check if two lists have at least one element in common
def common_element(list1, list2):
  for item in list1:
    if item in list2:
      return True
  return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common

if common_element(list1, list2):
  print("The lists have at least one common element.")
else:
  print("The lists have at least one common element.")

The lists have at least one common element.

41. Remove all elements from a list.

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list : ", my_list)

Empty list :  []

42. Replace negative numbers in a list with 0.

In [ ]:
my_list = [10, 7, -9, 8, -4, -1, 45]

# Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
  if my_list[i] < 0 :
    my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replaceing negative number with 0 : ", my_list)

List after replaceing negative number with 0 :  [10, 7, 0, 8, 0, 0, 45]

43. Convert a string into a list of words.

In [ ]:
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words : ", word_list)

List of words :  ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [ ]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Convert string :", my_string)

Convert string : Hello, this is a sample sentence.

45. Create a list of the first n powers of 2.

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = " "
for s in string_list:
  if len(s) > len(longest_string):
    longest_string = s

# Print the longest string
print("Longest string :", longest_string)

Longest string : elderberry

47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
Shortest_string = string_list[0] # Initialize with the first string

for s in string_list:
  if len(s) < len(Shortest_string):
    Shortest_string = s

# Print the shortest string
print("Shortest string :", Shortest_string)

Shortest string : date

48. Create a list of the first n triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_number(n):
  return [i * (i + 1) // 2 for i in range(1, n+1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_number(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def subsequence_list(subsequence, main_list):
  subseq_index = 0  # Index for the subsequence elements
  for element in main_list:
    if element == subsequence[subseq_index]:
      subseq_index += 1
      if subseq_index == len(subsequence):
        return True
  return False

# Driver Code
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if subsequence_list(subsequence, main_list):
  print("Main list contain the subsequence. ")
else:
  print("Main list doesnot contain the subsequence")

Main list contain the subsequence.

50. Swap two elements in a list by their indices.

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements : ", my_list)

List after swapping elements :  [1, 4, 3, 2, 5]

Tuple based practice problem :

1. Create a tuple with integers from 1 to 5.

In [ ]:
t = (1,2,3,4,5)

# Step 2: Access the third element of the tuple
third_element = my_tuple[2]

# Explanation: In this line, we use indexing to access the third element of the tuple.
# Since indexing is 0-based, the third element is at index 2.

# Step 3: Print the third element
print("The third element of the tuple is : ", IInd_element)

The third element of the tuple is :  2

2. Access the third element of a tuple.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

3. Find the length of a tuple without using the len() function.

In [ ]:
t = (1,2,34,5,6,78,9)

# Initialize a variable to count the elements
count = 0

# Iterate through the tuple and increment the count for each element

for i in t:
  count += 1
  # Print the length of the tuple
print("The length of the tuple is :", count)

The length of the tuple is : 7

4. Count the occurrences of an element in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Choose the element to count occurrences of
element = 20

# Initialize a variable to keep track of the count
count = 0

# Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
  if item == element:
    count += 1
# Print the count of occurrences
print(f"The element {element} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 20, 40, 50)

# Choose the element to find the index of
find_element = 20

#Initialize with -1 to indicate that the element was not found
# Initialize a variable to keep track of the index
index = -1

# Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
  if item == find_element:
    index = i
    break # Exit the loop once the first occurrence is found

    # Print the index of the first occurrence
if index != -1:
  print(f"The first occurrence of {find_element} is at index {index}.")
else:
    print(f"{find_element} is not found in the tuple.")

The first occurrence of 20 is at index 1.

 6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

12. Concatenate two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)


13. Repeat a tuple three times.

In [ ]:
# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15. Create a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17. Create a tuple with a single element.

In [ ]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

22. Find the minimum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

23. Convert a string to a tuple of characters.

In [ ]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [ ]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

#Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

#Print the resulting string
print("String from tuple :", string_from_tuple)

String from tuple : Hello World!

25. Create a tuple from multiple data types.

In [ ]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26.  Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# compare the tuples for identity using the equality operator
identical1 = tuple1 == tuple2
identical2 = tuple1 == tuple3

# Print the results
print("tuple1 and tuple2 are identical:", identical1)
print("tuple1 and tuple3 are identical:", identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [ ]:
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

#Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2
print("Merged : ", merged_tuple)

Merged :  (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
  flattened = []
  for item in nested_tuple:
    if isinstance(item, tuple):
      flattened.extend(flatten_tuple(item))
    else:
      flattened.append(item)
  return flattened

# Create a nested tuple
nested_tuple = ((1,2), (3,4,5), (6, (7,8)))

# Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))
#Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

# Generate the first 5 prime numbers
prime_num_list = [num for num in range(2, 100) if is_prime(num)][:5]\

# Flatten the nested tuple
prime_number_tuple = tuple(prime_num_list)

# Print the flattened tuple
print("Tuple of the first 5 prime numbers: ", prime_number_tuple)

Tuple of the first 5 prime numbers:  (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
def is_palindrom(tups):
  return tups == tups[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrom1 = is_palindrom(palindrome_tuple)
is_palindrom2 = is_palindrom(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome :", is_palindrom1)
print("non_palindrome_tuple is a palindrome :", is_palindrom2)

palindrome_tuple is a palindrome : True
non_palindrome_tuple is a palindrome : False

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares : ", squares_tuple)

Tuple of squares :  (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [ ]:
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Double tuple : ", doubled_tuple)

Double tuple :  (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [ ]:
import random

# Create a tuple of random numbers using a list comprehension
 # Generating 10 random numbers between 1 and 100
random_tuple = tuple(random.randint(1,100) for i in range(10))

# Print the tuple of random numbers
print(random_tuple)

(20, 52, 39, 64, 53, 35, 46, 88, 45, 83)

38. Check if a tuple is sorted.

In [ ]:
def is_sorted(tup):
  for i in range(len(tup) - 1):
    if tup[i] > tup[i+1]:
      return False
  return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by n positions.

In [ ]:
def rotated_tuple(tup, n):
  n = n % len(tup) # Ensure n is within the range of tuple length

  rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
  return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotated_tuple(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by n positions.

In [ ]:
def rotate_tuple_right(tup, n):
  n = n % len(tup) # Ensure n is within the range of tuple length
  rotated_tuple = tup[-n:] + tup[:-n] # Rotate the tuple
  return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def generated_fibonacci(n):

   # Initialize the list with the first two Fibonacci numbers
  fibonacci = [0, 1]

# Continue generating Fibonacci numbers until the list has n elements
  while len(fibonacci)<n:

    # Calculate the next Fibonacci number
    next_number = fibonacci[-1] + fibonacci[-2]

    # Add the next Fibonacci number to the list
    fibonacci.append(next_number)

     # Convert the list to a tuple and return it
  return tuple(fibonacci)

fibonacci_tuple = generated_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: d,u,b.a,i
User input tuple: ('d', 'u', 'b.a', 'i')

43. Swap two elements in a tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3

# Swap elements at indices 1 and 3
swapped_tuple =tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [ ]:
# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2.

In [ ]:
n = 5
# Create a tuple of the first n powers of 2 using a list comprehension
powe_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2: ", powe_tuple)

Tuple of the first 5 powers of 2:  (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first n triangular numbers.

In [ ]:
n = 5
# Create a tuple of the first n triangular numbers using a list comprehension
triangular_number_tuple = tuple((i * (i+1)) // 2 for i in range(1, n))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_number_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def contains_subsequence(main_tuple, sub_tuple):
  sub_length = len(sub_tuple)
  for i in range(len(main_tuple) - sub_length + 1):
    if main_tuple[i:i+sub_length] == sub_tuple:
      return True
  return False

main_tuple = (1,2,3,4,5,6,7,8,9)

# Subsequence tuple
sub_tuple = (3,4,5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length n.

In [ ]:
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternative_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternative_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

**Set based problems:**

1. Create a set with integers from 1 to 5

In [ ]:
#Create an empty set
my_set = set()

#Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Print the final set
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("original set :", my_set)

# Add an element to the set
add_element = 6
my_set.add(add_element)

#Display the modified set
print("Set after adding element:", my_set)

original set : {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
#Print the original set
print("Original Set:", my_set)

#Choose an element to remove
remove_element = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(remove_element)

print("Set after removing", my_set.remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing <built-in method remove of set object at 0x79fd047ff5a0> : {1, 2, 4, 5}

4. Check if an element exists in a set.

In [ ]:
my_set = {1, 3, 5, 7, 9}

# Ask the user for the element they want to check
check_element = int(input("Enter the element to check : "))

# Use the "in" keyword to check if the element exists in the set
if check_element in my_set:

  #If the element exists in the set, print a message
  print(f"{check_element} exists in the set.")
else:
  # If the element does not exist in the set, print a message
  print(f"{check_element} doesnot exist in my string")

Enter the element to check : 11
11 doesnot exist in my string

5. Find the length of a set without using the len() function

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for i in my_set:
  # Increase the count by 1 for each element
  count += 1

# Print the count, which is the length of the set
print("Length of the set : ", count)

Length of the set :  5

6. Clear all elements from a set.|

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

7. Create a set of even numbers from 1 to 10

In [ ]:
even_num_set = set()

# Iterate through numbers from 1 to 10
for num in range(1,11):

  # Check if the number is even
  if num % 2 == 0:

    # Add the even number to the set
    even_num_set.add(num)

    # Print the set of even numbers
print(even_num_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [ ]:
# Initialize an empty set to store odd numbers.
odd_num_set = set()

# Iterate through numbers from 1 to 10.
for num in range(1, 11):

# Check if the current number is odd.
  if num % 2 != 0:
    odd_num_set.add(num)

# Print the final set of odd numbers.
print(odd_num_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_set = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersect_set = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1: ", set1)
print("Set 2: ", set2)
print("Intersection :", intersect_set)

Set 1:  {1, 2, 3, 4, 5}
Set 2:  {3, 4, 5, 6, 7}
Intersection : {3, 4, 5}

11. Find the difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
deff_set = set1.difference(set2)

# Print the original sets and the difference set
print(f"Set1 : {set1}, Set2 : {set2}, Difference : {deff_set}")

Set1 : {1, 2, 3, 4, 5}, Set2 : {3, 4, 5, 6, 7}, Difference : {1, 2}

12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
  print("Set1 is a superset of set2")
else:
  print("Set1 is not a superset of set2")

Set1 is a superset of set2

14. Create a set from a list

In [ ]:
my_list = [2, 4, 1, 4, 3, 2, 5]

# Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

#Print the original list and the resulting set
print("Original List : ", my_list)
print("Set from List : ", my_set)

Original List :  [2, 4, 1, 4, 3, 2, 5]
Set from List :  {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [ ]:
my_set = {3, 1, 4, 1, 44, 5,7,86}

#Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format
# Print the original set and the converted list
print("Original Set :", my_set)
print("Converted List :", my_list)

Original Set : {1, 3, 4, 5, 86, 7, 44}
Converted List : [1, 3, 4, 5, 86, 7, 44]

16. Remove a random element from a set.

In [ ]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

17. Pop an element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets

common_element = set1.intersection(set2)


# Check if the common_elements set is empty
if not common_element:
   print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_element)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_diff = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference : ", symmetric_diff)

Symmetric Difference :  {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [ ]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1 : ", set1)

# Create the second set
set2 = {4, 5, 6}
print("Set 2 : ", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1 :  {1, 2, 3}
Set 2 :  {4, 5, 6}
Updated Set 1: {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
  return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
  if is_prime(num):
    prime_set.add(num)

# Move on to the next number for the next iteration
  num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.

if set1 == set2:
  print("The sets are identical.")
else:
  print("The sets are not identical")

The sets are identical.

23. Create a frozen set

In [ ]:
# Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

#Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.

disjoint_status = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint ?", disjoint_status)

Are the sets disjoint ? True

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
squares_set = set()

# Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
  #Calculate the square of the current number
  square = num ** 2

#Add the square to the set
  squares_set.add(square)

#Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [ ]:
original_set = {1, 2, 3, 4, 5}

#Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Iterate through each element in the original set
for num in original_set:
  # Check if the current number is even (divisible by 2)
  if num % 2 == 0:
    # If even, add it to the even_numbers_set
    even_numbers_set.add(num)

# Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [ ]:
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [ ]:
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {69, 42, 76, 58, 28}

29. Check if a set is empty.

In [ ]:
# Create a set (you can replace this with your own set)
my_set = set()

# Check if the set is empty using the 'if' statement
if not my_set :
  print("The set is empty.")
else:
  print("The set is not empty")

The set is empty.

30. Create a nested set (hint: use frozenset)

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set", nested_set)

Nested Set {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_remove)

# Display the set after removing the element
print("Set after removing", element_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [ ]:
#Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.union(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [ ]:
input_string = "hello"

# Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)
print(char_set)

{'o', 'h', 'e', 'l'}

34. Convert a set of strings to a set of integers.

In [ ]:
string_set = {"123", "456", "789"}

#Initialize an empty set to store integers
integer_set = set()

#Iterate through each string in the string set
for string in string_set:

  #Convert the string to an integer using the int() function
  integer_value = int(string)

#Add the integer to the integer set
  integer_set.add(integer_value)

#Print the original string set and the converted integer set
print(f"Original String : {string_set} Coverted Integer Set : {integer_set}")

Original String : {'456', '789', '123'} Coverted Integer Set : {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [ ]:
integers_set = {1, 2, 3, 4, 5}

#Initialize an empty set to store the strings
strings_set = set()

# Iterate through each integer in the integers_set
for num in integer_set:

  #Convert the integer to a string using the str() function
  num_str = str(num)

#Add the string representation to the strings_set
  strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'456', '789', '123'}

36. Create a set from a tuple.

In [ ]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [ ]:
input_set = (1, 2, 3, 2, 4, 5)

#Convert the set to a tuple
output_tuple = tuple(input_set)

#Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: (1, 2, 3, 2, 4, 5)
Converted tuple: (1, 2, 3, 2, 4, 5)

38. Find the maximum value in a set.

In [ ]:
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
   # Check if max_value is None (first iteration) or if the current number is greater than max_value
  if max_value is None or num > max_value: # Update max_value with the current number if it's greater
    max_value = num

# Update max_value with the current number if it's greater
print("Maximum value ", max_value)

Maximum value  22

39. Find the minimum value in a set.

In [ ]:
my_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in my_set:

  # Check if min_value is None (first iteration) or if num is smaller than the current min_value
  if min_value is None or num < min_value:

     # Update min_value to the current num since it's smaller
    min_value = num

print("The min value in the set is :", min_value)

The min value in the set is : 4

40. Create a set from user input.

In [ ]:
user_set = set()

#Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
  user_input = input(">")  # Get input from the user

  if user_input.lower() == 'done':
    break # Exit the loop if the user enters 'done'

    #Add the user input to the set
  user_set.add(user_input)

#Display the final set created from user input
print("Final set :", user_set)

Enter elements for the set (type 'done' to finish):
>abhi
>sinha
>done
Final set : {'abhi', 'sinha'}

41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for i in range(6):
  # Add the current Fibonacci number to the set
  fibonacci_set.add(a)

# Calculate the next Fibonacci number
  a,b = b, a+b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [ ]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Convert the list to a set
unique_set = set(original_list)

# Now, 'unique_set' contains only unique elements from 'original_list'
# Convert the set back to a list
unique_list = list(unique_set)

# Now, 'unique_list' is a list containing only unique elements
# Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def same_element(set1, set2):

# Convert the sets to lists and sort them
  sorted_list1 = sorted(list(set1))
  sorted_list2 = sorted(list(set2))

# Compare the sorted lists to check if they are equal
  return sorted_list1 == sorted_list2

set1 = set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = same_element(set1, set2)

# Print the result
if result:
  print("The set have the same elements")
else:
  print("The set have the same elements")

The set have the same elements

45. Create a set of the first n powers of 2

In [ ]:
def powers_of_2(n)

# Initialize an empty set to store the powers of 2
  powers_of_2 = set()

# Loop from 0 to n-1
  for i in range(n):

    # Calculate the current power of 2 using the exponentiation operator **
    power = 2 ** i

    # Add the current power of 2 to the set
    powers_of_2.add(power)

# Return the set of powers of 2
  return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
power_set = powers_of_2(n)

# Print the resulting set
print(power_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [ ]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Convert the list to a set for efficient comparison
list_of_set = set(my_list)

#Initialize an empty list to store common elements
common_elements = []

#Iterate through the elements in the set
for element in my_set:

  # Check if the element is present in the converted set (list_to_set)
  if element in my_list:

    #If the element is present in both the set and the list, add it to the common_elements list
    common_elements.append(element)

#Print the common elements
print("Common element: ", common_elements)

Common element:  [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [ ]:
def generated_triangular_num(n):
  triangular_numbers = set()  # Create an empty set to store the triangular numbers
  for i in range(1, n+1):
    triangular_number = i * (i+1)//2  # Calculate the ith triangular number using the formula
    triangular_numbers.add(triangular_number) # Add the calculated triangular number to the set
  return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n : "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generated_triangular_num(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n : 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
  print("set2 is a subset of set1")
else:
  print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length n.

In [ ]:
def create_alternating_set(n):
  # Initialize an empty set to store the alternating sequence.
  alternating_set = set()

# Loop to generate alternating 1s and 0s.
  for i in range(n):

     # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
    if i % 2 == 0:
      alternating_set.add(1) # Add 1 if i is even.
    else:
      alternating_set.add(0)  # Add 0 if i is odd.
  return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Print the merged set
print("Merged Set : ", merged_set)

Merged Set :  {1, 2, 3, 4, 5, 6, 7}
Merged Set :  {1, 2, 3, 4, 5, 6, 7}